.App {
  height: 100%;
}

.App__main-page-content {
  height: calc(100% - 80px);

}


@media screen and (max-width: 550px) {

  .home__text-wrapper h1 {
    font-size: 3rem;
    line-height: 5rem;
  }
}


@media screen and (min-width:551px) and (max-width: 768px) {

  .home__text-wrapper h1 {
    font-size: 6rem;
    line-height: 8rem;
  }
}


@media screen and (min-width:551px) and (max-width: 550px) {
  .home__text-wrapper h1 {
    font-size: 4rem;
    line-height: 6rem;
  }
}